.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.hidden {
  display: none;
}

.modal-content {
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #aaa;
  cursor: pointer;
}

.close-button:hover {
  color: #333;
}

.modal-header {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.assignment-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.assignment-label,
.file-label {
  font-size: 16px;
}

.assignment-input,
.file-input {
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  width: 100%;
  align-self: center;
}

/* Close button styling */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #aaa;
  cursor: pointer;
}

.close-button:hover {
  color: #333;
}

.modal-header {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.module-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.module-label {
  font-size: 16px;
}

.module-input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  width: 100%;
  align-self: center;
}

.modal-submit-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.deletion-header {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.modal-confirmation-buttons {
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.modal-delete-button,
.modal-dontdelete-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-delete-button {
  background-color: #91545a;
  color: #fff;
}

.modal-delete-button:hover {
  background-color: #c82333;
}

.modal-dontdelete-button {
  background-color: #28a745;
  color: #fff;
}

.modal-dontdelete-button:hover {
  background-color: #396d44;
}

.to-be-deleted {
  background-color: rgb(125, 81, 81);
}
